# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/loiane_training/Curso de Java Básico/08 OO - Herança, Interfaces e Polimorfismo/Aula44/nbproject/private/
/loiane_training/Curso de Java Básico/08 OO - Herança, Interfaces e Polimorfismo/Aula45/nbproject/private/
/loiane_training/Curso de Java Básico/08 OO - Herança, Interfaces e Polimorfismo/Aula46/Aula46/nbproject/private/
/loiane_training/Curso de Java Básico/08 OO - Herança, Interfaces e Polimorfismo/Aula46/Exercicos/nbproject/private/
/loiane_training/Curso de Java Básico/08 OO - Herança, Interfaces e Polimorfismo/Aula46/Exercicos/build/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula47/nbproject/private/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula47/build/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula48/nbproject/private/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula48/build/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula49/nbproject/private/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula49/build/
/eXcript.java8.aula2/nbproject/private/
/eXcript.java8.aula2/build
/eXcript/Java8/Aula2/nbproject/private/
/eXcript/Java8/Aula3/nbproject/private/
/eXcript/Java8/Aula3/build/
/eXcript/Java8/Aula5/nbproject/private/
/eXcript/Java8/Aula5/build/
/eXcript/Java8/Aula6/nbproject/private/
/eXcript/Java8/Aula6/build/
/eXcript/Java8/Aula7/nbproject/private/
/eXcript/Java8/Aula7/build/
/eXcript/Java8/Aula8/nbproject/private/
/eXcript/Java8/Aula9/nbproject/private/
/eXcript/Java8/Aula9/build/
/eXcript/Java8/Aula10/nbproject/private/
/eXcript/Java8/Aula10/build/
/eXcript/Java8/Aula11/nbproject/private/
/eXcript/Java8/Aula11/build/
/eXcript/Java8/Aula12/nbproject/private/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula50/nbproject/private/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula50/build/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula52/nbproject/private/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula52/build/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula52_a/Aula52/build/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula52_a/Aula52/nbproject/private/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula52/Aula52/build/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula52/Aula52/nbproject/private/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula52/Exercicio/nbproject/private/
/loiane_training/Curso de Java Básico/09 Tratamento de Erros e Exceções/Aula52/Exercicio/build/
/CursoEmVideo/curso_de_java_iniciantes/nbproject/private/
/CursoEmVideo/curso_de_java_iniciantes/build
/CursoEmVideo/Curso de Java para Iniciantes/Aula 04/PrimeiroPrograma/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 04/PrimeiroPrograma/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 04/HoraDoSistema/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 04/HoraDoSistema/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 04/IdiomaSistema/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 04/IdiomaSistema/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 04/ResolucaoTela/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 04/ResolucaoTela/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 04/OlaMundoSwing/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 04/OlaMundoSwing/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 04/OlaMundoJavaFX/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/OlaMundoFx/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/OlaMundoFx/dist/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/OlaMundoFx/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/OlaMundoSwing/dist/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/TelaRelogio/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/TelaRelogio/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/IdiomaSistemaSwing/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/IdiomaSistemaSwing/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/ResolucaoTelaSwing/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/ResolucaoTelaSwing/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/TelaRelogioSwing/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/TelaRelogioSwing/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/Teste/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 05/Teste/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 06/TiposPrimitivos/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 06/TiposPrimitivos/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 06/TesteTipos/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 06/SomaSwing/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 06/SomaSwing/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 06/CalculadoraIdade/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 06/CalculadoraIdade/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 06/Idade/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 06/Idade/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 06/OperadoresAritmeticos/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 07/OperadoresAritmeticos/build
/CursoEmVideo/Curso de Java para Iniciantes/Aula 07/OperadoresSwing/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 07/OperadoresSwing/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 07/Calculadora/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 07/Calculadora/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 08/OperadorTernario/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 08/OperadorTernario/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 08/ComparacaoString/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 08/ComparacaoString/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 08/OperadoresLogicos/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 08/OperadoresLogicos/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 08/VerificadorIdadeSwing/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 08/VerificadorIdadeSwing/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 08/GenioSwing/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 08/GenioSwing/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 09/ProgramaMedia/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 09/ProgramaMedia/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 09/ProgramaIdade/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 09/ProgramaIdade/build/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 09/ParImparSwing/nbproject/private/
/CursoEmVideo/Curso de Java para Iniciantes/Aula 09/ParImparSwing/build/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula01.DiaSemanaConstantes/nbproject/private/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula01/nbproject/private/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula01/build/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula54/nbproject/private/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula01.DiaSemanaConstantes/build/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula02/nbproject/private/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula02/build/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula03/nbproject/private/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula03/build/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula4/nbproject/private/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula4/build/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/CalculadoraEnum/nbproject/private/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/CalculadoraEnum/build/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula5/nbproject/private/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula5/build/
/loiane_training/Cusro Java II (Intermediário)/01 Enumeradores (Enum)/Aula05/nbproject/private/